p{
    font-size: 14px;
    color:purple;
}

body {
    font-size: 14px;
}

h1,h2 {
    color:blue;
}

p{
    color:purple;
}

p span {
    text-transform: uppercase;
    background-color: gold;

}

.gray {
    color:gray;
}

#second {
    font-style: italic;
}