

body {
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line: height 1.5em;
    background-color:papayawhip;
    color:rgb(210, 15, 15);

}

p {
    width: 80%;
    font-size: 2rem;
}


h1,h2 {
    color:blue;
}

h3 {
    color:darkgreen;
}

p span {
    text-transform: uppercase;
    background-color: gold;

}